
.sign-in-container {
    width: 100%;
}

.sign-in-card {
    width: 40em;
    border: 10px inset #FFAC33;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 3em;
}



.input-form {
    display: flex;
    gap: 3em;
    flex-direction: column;
    margin: auto;
    width: 34%;
    margin-bottom: 5em;
}

.input-form > input {
    width: 100%;
} 