.admin-panel-container {
    justify-content: center;
    align-items: center;
    text-align: center;
   
    background-color: #BE1931;
}

.app {
    width: 30em;
    height: 24em;
    border: 2px solid #FFAC33;
    overflow-y: scroll;
    background-color: #0F5F53;
    border-radius: 1px;
    box-shadow: 1px 2px 10px black;
    padding: 7px;
}

.admin-panel h1 {
    color: #EDE8EA;
    font-family: "Righteous";
    font-size: 60px;
}

.user-item {
    display: flex;
    justify-content: space-between;
    color: #EDE8EA;
    border-bottom: 1px solid #EDE8EA;
    font-size: 34px;
    font-family: "Helvetica";

}

.user-item:hover {
    background-color: #FFAC33;
}

.vehicle-item:hover {
    background-color: #FFAC33;
}

.user-item p {
    cursor: pointer;
}

.vehicle-item {
    display: flex;
    justify-content: space-between;
    color: #EDE8EA;
    border-bottom: 1px solid #EDE8EA;
    font-size: 25px;
    font-family: "Helvetica";
}

.vehicle-item p {
    cursor: pointer;
}

.scroller {
    
}

.delete-icon {
    cursor: pointer;
}

.count-box {
    border: 2px solid #0F5F53;    
    margin-top: 1em;
    width: 30em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFAC33;
}

.count-box h1 {
    font-size: 40px;
    color: black;
}