.page-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #BE1931;
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F5F53;
    box-shadow: 1px 2px 5px black;
    padding: 2em;
    padding-left: 10em;
    padding-right: 10em;
}

.nav-text {
    color: #EDE8EA;
    width: 90px;
    font-size: 24px;
    cursor: pointer;
    font-family: "Righteous";
}

.nav-logo {
    width: 12vw;
}

.content-container {
    padding: 6vw;
    padding-left: 26em;
    padding-right: 26em;
    display: flex;
    justify-content: space-between;

}

.logo-main {
    width: 25em;
    border-radius: 8px;
}

.logo-main:hover {
    width: 30em;
    transition:  ease 1s;
}

.waqoud-info {
    width: 50%;
}

.waqoud-info h1 {
    color: #EDE8EA;
    font-family: "Righteous";
    margin-bottom: 20px;
}

.waqoud-info p {
    font-size: 20px;
    font-family: "Righteous";
    color: #EDE8EA
}