.page-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #BE1931;
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F5F53;
    box-shadow: 1px 2px 5px black;
    padding: 2em;
    padding-left: 10em;
    padding-right: 10em;
}

.nav-text {
    color: white;
    width: 90px;
    font-size: 24px;
    cursor: pointer;
}

.nav-logo {
    width: 12vw;
}

.content-container {
    padding: 5vw;
    padding-left: 10em;
    padding-right: 10em;
    display: flex;
    justify-content: space-between;

}